* {
    /* reseting default paddings (google css reset) */
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #222222;
    font-family: "Arial", sans-serif;
    padding-top: 80px; /* coz fixed header */
  }
  
  .wrapper {
    width: 960px;
    height: 100%;
    margin: 0 auto; /* centering */
  }
  
  .header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background: rgb(12, 0, 0);
  }
  
  .header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
  }
  
  .nav a {
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  .nav a:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .content {
    margin: 80px 0; /* shorthand for top/bottom left/right */
    font-style: oblique;
    color: bisque;
  }
  
  .content h1 {
    font-size: 48px;
    text-align: center;
    transition: 2s;
  }
  .content .send{
      font-size: medium;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
  }
  .content .sendbutton{
      background-color: #555555;
      border: none;
      padding: 10px 25px;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      color: rgb(204, 204, 204);
      cursor: pointer;
  }
  input[type=text], select{
      width: 120px;
      background-color: #555555;
      padding: 8px 20px;
      margin: 8px 8px;
      display: inline-block;
      font-size: 15px;
      text-align: left;
     
  }
  input[type=email], select{
      width: 120px;
      background-color: #555555;
      margin: 8px 0;
      padding: 8px 20px;
      display: inline-block;
      font-size: 15px;
      text-align: left;    
  }
  input[id=mailcontent], select{
      padding: 100px 300px;
      text-align: start;
  }
  textarea{
    color: white;
    font-size: 15px;
    text-align: left;
    background-color: #555555;
    margin: 8px 8px;
    border: 1px solid #888;    
    resize: none;
  }
  footer{
    width: 100%;
    height: 80px;
    background: rgb(12, 0, 0);
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: rgba(173, 116, 116, 0.6);
  }
  .content p{
    color:white;
  }
  .contact h1{
    color: white;
  }
  .foot{
        padding: 10px;
      }
  
  /* visited link */
  .foot a:visited {
    color: white;
  }
  
  /* mouse over link */
  .foot a:hover {
    color: hotpink;
  }
  
  /* selected link */
  .foot a:active {
    color: blue;
  }