* {
    /* reseting default paddings (google css reset) */
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 1200px;
    background: #222222;
    background-image: url('pictures/intro-bg.jpg');
    font-family: "Arial", sans-serif;
    padding-top: 80px; /* coz fixed header */
  }
  
  .wrapper {
    width: 960px;
    height: 100%;
    margin: 0 auto; /* centering */
  }
  
  .header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background: #0d0d0d;
  }
  
  .header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white
  }
  
  .nav a {
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .content {
    margin: 80px 0; /* shorthand for top/bottom left/right */
  }
  
  .content h1 {
    font-size: 54px;
    text-align: center;
    transition: 2s;
  }
  
  .content h1:hover {
    color: red;
    letter-spacing: 0.5em;
    transition: 0.5s;
  }
  footer{
    width: 100%;
    height: 80px;
    background: #0d0d0d;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: rgba(173, 116, 116, 0.6);
  }
  .foot{
        padding: 10px;
      }
  
  
  /* visited link */
  .foot a:visited {
    color:white;
  }
  
  /* mouse over link */
  .foot a:hover {
    color: hotpink;
  }
  
  /* selected link */
  .foot a:active {
    color: blue;
  }






  



  h1{
      
      margin-top: 15vw;
      color: black;
      font-size: 16em;

  }
  h1 span{
      display: table cell;
      margin: 0;
      padding: 0;
      animation: animate 2s linear infinite;
  }
  h1 span:nth-child(1){
      animation-delay:0.5s ;
  }
  h1 span:nth-child(2){
    animation-delay:0.75s ;
}
h1 span:nth-child(3){
    animation-delay:1s ;
}
h1 span:nth-child(4){
    animation-delay:1.25s ;
}
h1 span:nth-child(5){
    animation-delay:1.5s ;
}
h1 span:nth-child(6){
    animation-delay:1.75s ;
}
h1 span:nth-child(7){
    animation-delay:2s ;
}
h1 span:nth-child(8){
    animation-delay:2.25s ;
}
h1 span:nth-child(9){
    animation-delay:2.5s ;
}
h1 span:nth-child(10){
    animation-delay:2.75s ;
}
h1 span:nth-child(11){
    animation-delay:3s ;
}
h1 span:nth-child(12){
    animation-delay:3.25s ;
}
h1 span:nth-child(13){
    animation-delay:3.5s ;
    }
h1 span:nth-child(14){
        animation-delay:3.75s ;
        }
  @keyframes animate{
      0%,100%{
          color:rgba(173, 116, 116, 0.6);;
          filter: blur(2px);
          text-shadow: 0 0 10px grey,
                      0 0 20px grey,
                      0 0 40px grey,
                      0 0 80px grey,
                      0 0 120px grey,
                      0 0 200px grey,
                      0 0 300px grey,
                      0 0 400px grey,
                      0 0 450px grey,
                      0 0 500px grey,
                      0 0 550px grey,
                      0 0 600px grey,
                      0 0 700px grey,
                      0 0 800px grey,


      }
      5%,95%{
        color: white;
        filter: blur(2px);
        text-shadow: none
    }

  }